---
layout: home
title: Flying Dice
---

<!-- Projects -->
<div class="container-xl clearfix">
  <h2 class="text-center">
    <a name="about">About</a>
  </h2>
  <div class="col-12 float-left p-2 text-center">
    <p>Flying Dice is an organization for building high quality open source software.</p>
    <p>Collaborate with us on <a href="https://github.com/flyingdice">GitHub</a>!</p>
  </div>
</div>

<!-- Projects -->
<div class="container-xl clearfix">
  <h2 class="text-center">
    <a name="projects">Projects</a>
  </h2>
  {% for project in site.data.projects %}
  <div class="col-lg-4 col-m-4 col-sm-6 col-xs-12 float-sm-left p-2">
    <div class="d-flex flex-column flex-md-row flex-items-center flex-md-items-center">
      <div class="col-12 d-flex flex-column flex-justify-center flex-items-center">
        <a class="h3 flex-justify-center mb-2" href="{{ project.url }}" target="_blank">{{ project.title }}</a>
        <p class="h4 flex-justify-center text-gray text-normal mb-2">{{ project.subtitle }}</p>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

<!-- Team -->
<div class="container-xl clearfix">
  <h2 class="text-center">
    <a name="team">Meet the team</a>
  </h2>
  {% for author in site.data.authors %}
  <div class="col-sm-6 col-xs-12 float-left p-2">
    <div class="clearfix">
      <div class="col-4 mx-auto">
        <img class="avatar circle" src="{{ author.picture }}"/>
      </div>
      <div class="col-8 mx-auto text-center">
        <div>
          <h2 class="text-normal lh-condensed">
            <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
          </h2>
        </div>
        <h4>{{ author.title }}</h4>
        <p>{{ author.summary }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
