<div class="Header">
  <div class="Header-item">
    <a href="/" class="Header-link f4 d-flex flex-items-center">
      <img class="title-logo" src="/assets/images/logo-white.svg">
      {{ site.title }}
    </a>
  </div>
  <div class="Header-item Header-item--full">
    <!--Empty item to push remaining to right-->
  </div>
  <div class="Header-item">
    <a href="#about" class="Header-link">About</a>
  </div>
  <div class="Header-item">
    <a href="#projects" class="Header-link">Projects</a>
  </div>
  <div class="Header-item">
    <a href="#team" class="Header-link">Team</a>
  </div>
  <div class="Header-item mr-0">
    <a href="#footer" class="Header-link">Social</a>
  </div>
</div>
